

*{margin: 0%;
    padding:0%;
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
}

.logo img{
    
    width: 50px;
    height: 50px;
    border:3px solid white;
    border-radius: 50%;
   
    
}

.nav{
   
   display:flex;
   background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    z-index: 9999;
   
    align-items: center;
    justify-content: center;
    position: sticky;
    cursor: pointer;
    top: 0;
    
   

}

.navlist{
    
    display: flex;
  
    align-items: center;

  
}



.navlist li{
    
    color: white;
    padding: 10%;
    list-style: none;
    

    
    
    
}

.images{
    display: flex;
    align-content: center;     
}

.rightnav
{
    display: flex;
margin-left: auto;
margin-right: 10px;
justify-content: center;
align-items: center;
}


.background3{

   
    
    
    background-image: linear-gradient(#000, rgba(7, 4, 4, 0.336)), url("https://source.unsplash.com/1366x768/?muscles");
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

/*
.background1{

    background: rgba(0,0,0,0.7) url("sky.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.background2{

    background: rgba(0,0,0,0.7) url("tree.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
*/



    


  
.zeropara
{
display: flex;    
flex-direction: column-reverse;

padding: 50px;

align-items:center ;
margin: auto;

color:white;

}



.firstpara
{
display: flex;    

justify-content: center;

align-items:center ;
margin: auto;

color:black;
height: 370px;  
}


.secondpara
{
display: flex;    
flex-direction: row-reverse;
justify-content: center;

align-items:center ;
margin: auto;

color:black;
height: 370px;
}





#firstimg{
    position: relative;;
    
   height: 180px;
   width: 180px;
   border:3px solid white;
   border-radius: 3%;
   

}

.content0{

    padding: 20px;
    margin: 30px;
    
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
   width: 50%;
    flex-direction: column
}



.content1{

    padding: 20px;
    margin: 30px;
   
    color: white;
    width: 50%;
}

.headpara{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.para0{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}

.para1{
    display: flex;
    align-items: center;
    justify-content: left;
    


}

.btn {
    border: 2px solid white;
    border-radius: 8%;
    color:white;
   background: none;
   padding: 5px 25px;
   margin: 25px 0px;
   cursor: pointer;
   
}

.sec3{
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    height: 457px;
    
    
}

.form{

    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 60%;
}

.contact{
    margin: 20px;
    color:white;
}

.input{

padding: 5px;
margin: 8px;


}

.foot{
background-color: black;
display: flex;
color: white;
align-items: center;
justify-content: center;
padding: 20px;
}

.contbtn{
    color: white;
    border: 2px solid white;
}

.burger
{   
    display: none;
    position: absolute;
    right: 5%;
    top: 15px;
    cursor: pointer;
    
}

.line{

width: 30px;
height: 4px;     
background-color: white;
margin: 4px 4px;
}


@media only screen and (max-width:796px){

.nav{
    flex-direction: column;
    height: 400px;
    transition: all 0.3s ease-out;
}
.navlist{
    flex-direction: column ;
}

.rightnav{
    flex-direction: column;
   margin: auto;
}

.burger{
display: block;

}

.v-heightresp{
   
    height: 72px;

}

.v-visibleresp{
    opacity: 0%;
}

.zeropara{
    height: auto;

}
.firstpara{
    flex-direction: column-reverse;
    height: auto;
}
.secondpara{
    flex-direction: column-reverse;
    height: auto;
}

}
